@media screen and (min-width: 992px)  {

    .banner {
        &-wrap {
            height: 300px;
        }
        
    }

    p {
        font-size: 1.25rem;
        line-height: 2;
        
        &.font-small {
            font-size: 1rem;
        }
    }

    .white-space {
        height: 100px;
    }

    .navbar{
        max-height: 100px;
        
        .logo {
            transform: translateY(20px);
        }
    }

    .section {
        &-a {
            &-img {
                transform: translate(-40%, 0);
                img {
                    position: absolute;
                    bottom: 0;
                }
            }
        }

        &-c {
            max-width: 50%;
            margin-top: 5%;
            margin-left: 100px;
        }
    }
    
}


@media screen and (min-width: 1400px) {

    
    .banner {
        height: 650px;
        background-position: center;

    }

    .section {
        
        &-b {
            height: 696px;

            .map {
                height: 696px;

            }
        }
    }

    .bg-cucina {
        min-height: 800px;
        padding-top: 0;
        &-inner {
            background: $bg-cucina;
            background-repeat: no-repeat;
            background-size: 100% auto;
            background-position: center top;
            background-attachment: fixed;
        }
    }
}