// Assets
$home: url('/dist/asset/png/home.png');
$about: url('/dist/asset/png/about.png');
$cucina: url('/dist/asset/png/cucina.png');
$direzione: url('/dist/asset/png/direzione.png');
$eventi: url('/dist/asset/png/eventi.png');
$mappa: url('/dist/asset/png/mappa.png');

.home, .about, .mappa, .cucina, .eventi, .direzione {
    display: inline-block;
    width: 20px;
    height: 20px;
}
.home {
    background: $home center/contain;
}
.about {
    background: $about center/contain;
}
.mappa {
    background: $mappa center/contain;
}
.cucina {
    background: $cucina center/contain;
}
.eventi {
    background: $eventi center/contain;
}
.direzione {
    background: $direzione center/contain;
}

$bg-img: url('/dist/asset/jpg/banner.jpg');
$bg-cucina: url('/dist/asset/jpg/cucina.jpg');
$bg-cucina-mobile: url('/dist/asset/jpg/cucina-mobile.jpg');
$bus: url('/dist/asset/png/bus.png');
$car: url('/dist/asset/png/car.png');

.car, .bus {
    width: 250px;
    height: 200px;
}

.car {
    background: $car center/contain no-repeat;
}

.bus {
    background: $bus center/contain no-repeat;
}

.bg-cucina {
    position: relative;
    padding-top: 25%;

    &-inner {
        background: $bg-cucina-mobile;
        background-repeat: no-repeat;
        background-size: 100% auto;
        background-position: center top;
        background-attachment: fixed;
    }
    
}

//colors
$orange: #F8A82D;
$straw: #EEE1C8;
$light-blue: #39F7E4;
$dark-blue: #202AF7;

//variables
$max-width: 1400px;

//utilities
.bg-orange {
    background-color: $orange;
    padding: 1em 3em;
}

.divider {
    height: 150px;
    background: url(/dist/asset/png/divider.png);
    background-repeat: repeat;
    background-size: contain;
    margin: 3em 0;
}

.container-fluid {
    padding-right:0;
    padding-left:0;
    margin-right:auto;
    margin-left:auto
}

.lead {
    font-size: 1.5em;
    padding: 0 1em;
    text-align: center;
}

.row {
    --bs-gutter-x: 0;
}

body {
    background-color: $straw;
}

p {
    line-height: 1.8;
}

.btn {
    max-width: 220px;
    font-size: 1.5em;
    padding: .5em;
}

.move-down {
    transform: translateY(50px);
}

.white-space {
    height: 100px;
}

//Menu

.navbar {
    position: relative;
    max-width: $max-width;
    margin: auto;

    .logo {
        transform: translateY(0px);
    }

    &-collapse {
        width: 100%;
        
        a {
            text-align: center;
        }
    }
}

//banner
.banner {
    background: url(/dist/asset/jpg/banner.jpg);
    height: 50vh;
    background-repeat: no-repeat;
    background-size: cover;

    .row {
        height: 100%;
    }
}

//main

.section {
    border-radius: 25px;

    h2, p {
            color: #fff;
        }

    h2 {
        margin-bottom: .5em;
    }

    p {
        margin: 0 1em;
    }

    &-a {
        background-color: $light-blue;
        padding: 1.5em;

        &-img {
            transform: translate(0, -40%);
            position: relative;
            z-index: -1;
        }
    }

    &-b {
        padding: 2.5em 0;
    }

    &-c {
        
        background-color: $dark-blue;
        padding: 1.5em;
        margin-bottom: 7.5em;

        p {
            margin-bottom: 2em;
        }

        .btn {
            float: right;
        }
    }
    
    &-d {
        .box {
            height: 300px;
            
            &-a {
                background-color: $orange;
            }
            &-b {
                background-color: $light-blue;
            }
            &-c {
                background-color: $dark-blue;
            }
        }
    }
}

//Import
@import "desktop";